.App {
  font-size: 18px;
}

/* HEADER */
.Header {
  /* align-items: center; */
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  max-width: 2000px;
  min-width: 400px;
}

.Header nav a {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  text-decoration: none;
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navAccount {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}

.navPages {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}

.account, .login {
  border: solid white 2px;
  color: white;
  padding: 5px;
  width: 150px;
}
.account:hover, .login:hover, .trails:hover, .apres:hover {
  color: black;
  background-color: white;
}
.logout, .signup {
  border: solid red 2px;
  color: red;
  padding: 5px;
  width: 150px;
}
.logout:hover, .signup:hover {
  color: white;
  background-color: red;
}
.trails, .apres {
  border: solid white 2px;
  color: white;
  padding: 5px;
}

/* EVERYTHING ELSE */

.NonHeader {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 25px;
}

h1 {
  margin: auto;
  padding: 30px 25px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

li {
  list-style-type: none;
}

/* THE REVIEWS */

.placeName {
  display: inline-block;
}
.icons {
  font-size: 30px;
  display: inline-block;
  margin-left: 10px;
}

.circle {
  height: 30px;
  width: 30px;
  background-color: rgb(1, 180, 1);
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}
.square {
  height: 30px;
  width: 30px;
  background-color: rgb(4, 58, 235);
  display: inline-block;
  margin-left: 10px;
}
.diamond {
  width: 0;
  height: 0;
  display: inline-block;
  border: 18px solid transparent;
  border-bottom: 24px solid black;
  margin-left: 10px;
  position: relative;
  top: -18px;
}
.diamond:after {
  content: '';
  display: inline-block;
  position: absolute;
  left: -18px;
  top: 24px;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-top: 24px solid black;
}

.rate a {
  border: solid blue 2px;
  text-decoration: none;
  color: blue;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.rate a:hover {
  background-color: blue;
  color: white;
}

.reviewName {
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
  border-top: solid black 5px;
}

.UserReview {
  background-color: rgb(162, 176, 255);
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
}

.boxes {
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
}

.difficultyBox {
  border: 5px solid black;
  margin: 2px 20px;
  /* padding: 10px; */
  flex-basis: 100%;
  flex: 1;
  font-size: 24px;
  text-align: center;
}

.funBox {
  border: 5px solid black;
  margin: 2px 20px;
  flex-basis: 100%;
  flex: 1;
  font-size: 24px;
  text-align: center;
}

.review {
  font-style: italic;
}

/* LOGIN/SIGNUP */

.SignupForm {
  display: flex;
  flex-direction: column;
  margin: auto 100px;
  font-weight: bold;
}

.SignupForm input {
  margin: 10px 0;
}

button {
  background-color: white;
  border: solid blue 2px;
  text-decoration: none;
  color: blue;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
button:hover {
  background-color: blue;
  color: white;
}

@media screen and (max-width: 750px) {
  .Header nav a {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin: 2px 2px;
  }

  .navAccount {
    display: flex;
    flex-direction: column;
  }
  
  .navPages {
    display: flex;
    flex-direction: column;
  }

  .account, .login, .signup, .logout, .trails, .apres {
    width: 100px;
  }
  
  ul {
    padding: 0;
    list-style-type: none;
}

  .rate {
    padding: 0px;
    margin: 0px;
  }
  h1 {
    font-size: 30px;
  }
}