.NonHeader {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 25px;
}

.App {
  font-size: 18px;
}

.boxes {
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
}

.difficultyBox {
  border: 5px solid black;
  margin: 2px 20px;
  /* padding: 10px; */
  flex-basis: 100%;
  flex: 1;
  font-size: 24px;
  text-align: center;
}

.funBox {
  border: 5px solid black;
  margin: 2px 20px;
  flex-basis: 100%;
  flex: 1;
  font-size: 24px;
  text-align: center;
}

.Header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  max-width: 2000px;
}

.Header nav {
  /* display: flex;
  justify-content: flex-end; */
  
}

.Header nav a {
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  text-decoration: none;

  /* color: black;
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  text-decoration: underline; */
}

.Header nav a:hover {
  color: grey;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

li {
  list-style-type: none;
}

.rateThis {
  color: black;
  text-decoration: none;
}

.rateThis:hover {
  color: grey;
}

.SignupForm {
  display: flex;
  flex-direction: column;
}

.SignupForm input {
  margin: 10px 0;
}

.UserReview {
  background-color: lightcyan;
  margin: 10px 0px;
  padding: 10px;
}